@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark light;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0f172a; /* Slate 900 background */
  color: #f8fafc; /* Slate 50 text */
}
